[defaults]
inventory = inventory.yml
host_key_checking = False
stdout_callback = yaml
callbacks_enabled = profile_tasks
retry_files_enabled = False
gathering = smart

[ssh_connection]
pipelining = True
